ALTER TABLE application ADD CONSTRAINT FK_A45BDDC1A76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
ALTER TABLE application ADD CONSTRAINT FK_A45BDDC17E2E9444 FOREIGN KEY (jobOfferId) REFERENCES joboffer (jobOfferId);
DROP INDEX user_id ON application;
CREATE INDEX IDX_A45BDDC1A76ED395 ON application (user_id);
DROP INDEX jobofferid ON application;
CREATE INDEX IDX_A45BDDC17E2E9444 ON application (jobOfferId);
ALTER TABLE evaluation_criteria CHANGE criteria_id criteria_id INT NOT NULL, CHANGE description description LONGTEXT NOT NULL, CHANGE max_score max_score INT NOT NULL, CHANGE weight weight DOUBLE PRECISION NOT NULL, CHANGE category category VARCHAR(100) NOT NULL, CHANGE is_active is_active TINYINT(1) NOT NULL, CHANGE display_order display_order INT NOT NULL;
ALTER TABLE evaluation_scores DROP FOREIGN KEY fk_score_criteria;
ALTER TABLE evaluation_scores DROP FOREIGN KEY fk_score_evaluation;
ALTER TABLE evaluation_scores DROP FOREIGN KEY fk_score_criteria;
ALTER TABLE evaluation_scores CHANGE evaluation_id evaluation_id INT DEFAULT NULL, CHANGE criteria_id criteria_id INT DEFAULT NULL, CHANGE score score DOUBLE PRECISION NOT NULL, CHANGE comments comments LONGTEXT NOT NULL;
ALTER TABLE evaluation_scores ADD CONSTRAINT FK_CD2F02A9990BEA15 FOREIGN KEY (criteria_id) REFERENCES evaluation_criteria (criteria_id) ON DELETE CASCADE;
DROP INDEX fk_score_evaluation ON evaluation_scores;
CREATE INDEX IDX_CD2F02A9456C5646 ON evaluation_scores (evaluation_id);
DROP INDEX fk_score_criteria ON evaluation_scores;
CREATE INDEX IDX_CD2F02A9990BEA15 ON evaluation_scores (criteria_id);
ALTER TABLE evaluation_scores ADD CONSTRAINT fk_score_evaluation FOREIGN KEY (evaluation_id) REFERENCES interview_evaluations (evaluation_id) ON DELETE CASCADE;
ALTER TABLE evaluation_scores ADD CONSTRAINT fk_score_criteria FOREIGN KEY (criteria_id) REFERENCES evaluation_criteria (criteria_id);
ALTER TABLE forum_comment CHANGE id id BIGINT NOT NULL, CHANGE content content LONGTEXT NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE moderation_note moderation_note LONGTEXT NOT NULL, CHANGE edited_at edited_at DATETIME NOT NULL, CHANGE edited_by edited_by INT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL, CHANGE is_pinned is_pinned TINYINT(1) NOT NULL;
ALTER TABLE forum_interaction CHANGE id id BIGINT NOT NULL, CHANGE target_type target_type VARCHAR(255) NOT NULL, CHANGE interaction_type interaction_type VARCHAR(255) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE forum_notification CHANGE id id BIGINT NOT NULL, CHANGE actor_user_id actor_user_id INT NOT NULL, CHANGE type type VARCHAR(255) NOT NULL, CHANGE post_id post_id BIGINT NOT NULL, CHANGE comment_id comment_id BIGINT NOT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE forum_post CHANGE id id BIGINT NOT NULL, CHANGE content content LONGTEXT NOT NULL, CHANGE tag tag VARCHAR(100) NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE is_pinned is_pinned TINYINT(1) NOT NULL, CHANGE is_locked is_locked TINYINT(1) NOT NULL, CHANGE moderation_note moderation_note LONGTEXT NOT NULL, CHANGE edited_at edited_at DATETIME NOT NULL, CHANGE edited_by edited_by INT NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE interviewee_profiles DROP INDEX uq_interviewee_user, ADD INDEX IDX_2A463AC9A76ED395 (user_id);
ALTER TABLE interviewee_profiles CHANGE interviewee_id interviewee_id INT NOT NULL, CHANGE user_id user_id INT DEFAULT NULL, CHANGE first_name first_name VARCHAR(100) NOT NULL, CHANGE last_name last_name VARCHAR(100) NOT NULL, CHANGE skills skills LONGTEXT NOT NULL, CHANGE phone phone VARCHAR(20) NOT NULL, CHANGE linkedin_url linkedin_url VARCHAR(255) NOT NULL, CHANGE portfolio_url portfolio_url VARCHAR(255) NOT NULL;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_interviewee;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_recruiter;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_type;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_interviewee;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_recruiter;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_application;
ALTER TABLE interviews DROP FOREIGN KEY fk_int_type;
ALTER TABLE interviews CHANGE application_id application_id INT DEFAULT NULL, CHANGE recruiter_id recruiter_id INT DEFAULT NULL, CHANGE interviewee_id interviewee_id INT DEFAULT NULL, CHANGE interview_type_id interview_type_id INT DEFAULT NULL, CHANGE scheduled_time scheduled_time VARCHAR(255) DEFAULT NULL, CHANGE duration_minutes duration_minutes INT NOT NULL, CHANGE status status VARCHAR(30) NOT NULL, CHANGE interview_round interview_round INT NOT NULL, CHANGE notes notes LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE interviews ADD CONSTRAINT FK_3A752682156BE243 FOREIGN KEY (recruiter_id) REFERENCES users (user_id) ON DELETE CASCADE;
ALTER TABLE interviews ADD CONSTRAINT FK_3A752682B4C8B6CE FOREIGN KEY (interviewee_id) REFERENCES interviewee_profiles (interviewee_id) ON DELETE CASCADE;
ALTER TABLE interviews ADD CONSTRAINT FK_3A752682B4D9100 FOREIGN KEY (interview_type_id) REFERENCES interview_types (interview_type_id) ON DELETE CASCADE;
DROP INDEX fk_int_application ON interviews;
CREATE INDEX IDX_3A7526823E030ACD ON interviews (application_id);
DROP INDEX fk_int_recruiter ON interviews;
CREATE INDEX IDX_3A752682156BE243 ON interviews (recruiter_id);
DROP INDEX fk_int_interviewee ON interviews;
CREATE INDEX IDX_3A752682B4C8B6CE ON interviews (interviewee_id);
DROP INDEX fk_int_type ON interviews;
CREATE INDEX IDX_3A752682B4D9100 ON interviews (interview_type_id);
ALTER TABLE interviews ADD CONSTRAINT fk_int_interviewee FOREIGN KEY (interviewee_id) REFERENCES interviewee_profiles (interviewee_id);
ALTER TABLE interviews ADD CONSTRAINT fk_int_recruiter FOREIGN KEY (recruiter_id) REFERENCES users (user_id);
ALTER TABLE interviews ADD CONSTRAINT fk_int_application FOREIGN KEY (application_id) REFERENCES application (applicationId) ON DELETE CASCADE;
ALTER TABLE interviews ADD CONSTRAINT fk_int_type FOREIGN KEY (interview_type_id) REFERENCES interview_types (interview_type_id);
ALTER TABLE interview_evaluations DROP FOREIGN KEY fk_eval_recruiter;
ALTER TABLE interview_evaluations DROP FOREIGN KEY fk_eval_interview;
ALTER TABLE interview_evaluations DROP FOREIGN KEY fk_eval_recruiter;
ALTER TABLE interview_evaluations CHANGE interview_id interview_id INT DEFAULT NULL, CHANGE recruiter_id recruiter_id INT DEFAULT NULL, CHANGE overall_rating overall_rating DOUBLE PRECISION NOT NULL, CHANGE recommendation recommendation VARCHAR(255) NOT NULL, CHANGE strengths strengths LONGTEXT NOT NULL, CHANGE weaknesses weaknesses LONGTEXT NOT NULL, CHANGE general_comments general_comments LONGTEXT NOT NULL, CHANGE hire_decision hire_decision VARCHAR(100) NOT NULL, CHANGE next_steps next_steps LONGTEXT NOT NULL, CHANGE is_draft is_draft TINYINT(1) NOT NULL, CHANGE evaluated_at evaluated_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE interview_evaluations ADD CONSTRAINT FK_E5BEC982156BE243 FOREIGN KEY (recruiter_id) REFERENCES users (user_id) ON DELETE CASCADE;
DROP INDEX fk_eval_interview ON interview_evaluations;
CREATE INDEX IDX_E5BEC98255D69D95 ON interview_evaluations (interview_id);
DROP INDEX fk_eval_recruiter ON interview_evaluations;
CREATE INDEX IDX_E5BEC982156BE243 ON interview_evaluations (recruiter_id);
ALTER TABLE interview_evaluations ADD CONSTRAINT fk_eval_interview FOREIGN KEY (interview_id) REFERENCES interviews (interview_id) ON DELETE CASCADE;
ALTER TABLE interview_evaluations ADD CONSTRAINT fk_eval_recruiter FOREIGN KEY (recruiter_id) REFERENCES users (user_id);
ALTER TABLE interview_types CHANGE interview_type_id interview_type_id INT NOT NULL, CHANGE description description LONGTEXT NOT NULL, CHANGE typical_duration_minutes typical_duration_minutes INT NOT NULL, CHANGE is_active is_active TINYINT(1) NOT NULL;
ALTER TABLE joboffer DROP FOREIGN KEY joboffer_ibfk_1;
ALTER TABLE joboffer DROP FOREIGN KEY joboffer_ibfk_1;
ALTER TABLE joboffer CHANGE title title VARCHAR(255) NOT NULL, CHANGE description description LONGTEXT NOT NULL, CHANGE contractType contractType VARCHAR(255) NOT NULL, CHANGE salary salary DOUBLE PRECISION NOT NULL, CHANGE location location VARCHAR(255) NOT NULL, CHANGE experienceRequired experienceRequired INT NOT NULL, CHANGE publicationDate publicationDate DATE NOT NULL, CHANGE status status VARCHAR(255) NOT NULL;
ALTER TABLE joboffer ADD CONSTRAINT FK_F33F8164A76ED395 FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
DROP INDEX user_id ON joboffer;
CREATE INDEX IDX_F33F8164A76ED395 ON joboffer (user_id);
ALTER TABLE joboffer ADD CONSTRAINT joboffer_ibfk_1 FOREIGN KEY (user_id) REFERENCES users (user_id) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE notifications DROP FOREIGN KEY fk_notif_interview;
ALTER TABLE notifications DROP FOREIGN KEY fk_notif_interview;
ALTER TABLE notifications DROP FOREIGN KEY fk_notif_user;
ALTER TABLE notifications CHANGE notification_id notification_id INT NOT NULL, CHANGE user_id user_id INT DEFAULT NULL, CHANGE message message LONGTEXT NOT NULL, CHANGE is_read is_read TINYINT(1) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE read_at read_at DATETIME NOT NULL;
ALTER TABLE notifications ADD CONSTRAINT FK_6000B0D355D69D95 FOREIGN KEY (interview_id) REFERENCES interviews (interview_id) ON DELETE CASCADE;
DROP INDEX fk_notif_user ON notifications;
CREATE INDEX IDX_6000B0D3A76ED395 ON notifications (user_id);
DROP INDEX fk_notif_interview ON notifications;
CREATE INDEX IDX_6000B0D355D69D95 ON notifications (interview_id);
ALTER TABLE notifications ADD CONSTRAINT fk_notif_interview FOREIGN KEY (interview_id) REFERENCES interviews (interview_id) ON DELETE SET NULL;
ALTER TABLE notifications ADD CONSTRAINT fk_notif_user FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
DROP INDEX userId ON onboardingplan;
ALTER TABLE onboardingplan ADD plan_id INT NOT NULL, DROP planId, CHANGE status status VARCHAR(255) NOT NULL, CHANGE deadline deadline DATE NOT NULL, CHANGE qr_token qr_token VARCHAR(80) NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (plan_id);
DROP INDEX planId ON onboardingtask;
ALTER TABLE onboardingtask ADD plan_id INT NOT NULL, ADD file_path VARCHAR(255) NOT NULL, DROP taskId, DROP filePath, CHANGE title title VARCHAR(255) NOT NULL, CHANGE description description LONGTEXT NOT NULL, CHANGE status status VARCHAR(255) NOT NULL, CHANGE deadline deadline DATE NOT NULL, CHANGE cloudinary_public_id cloudinary_public_id VARCHAR(255) NOT NULL, CHANGE original_file_name original_file_name VARCHAR(255) NOT NULL, CHANGE content_type content_type VARCHAR(120) NOT NULL, CHANGE planId task_id INT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (task_id);
ALTER TABLE password_reset_otp DROP FOREIGN KEY fk_otp_user;
ALTER TABLE password_reset_otp CHANGE id id INT NOT NULL, CHANGE user_id user_id INT DEFAULT NULL, CHANGE otp_code otp_code VARCHAR(6) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE used used TINYINT(1) NOT NULL;
DROP INDEX fk_otp_user ON password_reset_otp;
CREATE INDEX IDX_79FB4877A76ED395 ON password_reset_otp (user_id);
ALTER TABLE password_reset_otp ADD CONSTRAINT fk_otp_user FOREIGN KEY (user_id) REFERENCES users (user_id) ON DELETE CASCADE;
ALTER TABLE recruiter_profiles DROP INDEX uq_recruiter_user, ADD INDEX IDX_C29FD578A76ED395 (user_id);
ALTER TABLE recruiter_profiles CHANGE recruiter_id recruiter_id INT NOT NULL, CHANGE user_id user_id INT DEFAULT NULL, CHANGE first_name first_name VARCHAR(100) NOT NULL, CHANGE last_name last_name VARCHAR(100) NOT NULL, CHANGE department department VARCHAR(100) NOT NULL, CHANGE phone phone VARCHAR(20) NOT NULL;
DROP INDEX name ON role;
ALTER TABLE role CHANGE description description VARCHAR(255) NOT NULL, CHANGE status status VARCHAR(20) NOT NULL;
ALTER TABLE users DROP FOREIGN KEY fk_users_role;
DROP INDEX idx_users_google_id ON users;
DROP INDEX email ON users;
ALTER TABLE users DROP FOREIGN KEY fk_users_role;
ALTER TABLE users CHANGE first_name first_name VARCHAR(100) NOT NULL, CHANGE last_name last_name VARCHAR(100) NOT NULL, CHANGE email email VARCHAR(255) NOT NULL, CHANGE password password VARCHAR(255) NOT NULL, CHANGE status status VARCHAR(20) NOT NULL, CHANGE face_data face_data LONGTEXT DEFAULT NULL;
ALTER TABLE users ADD CONSTRAINT FK_1483A5E9D60322AC FOREIGN KEY (role_id) REFERENCES role (role_id) ON DELETE CASCADE;
DROP INDEX fk_users_role ON users;
CREATE INDEX IDX_1483A5E9D60322AC ON users (role_id);
ALTER TABLE users ADD CONSTRAINT fk_users_role FOREIGN KEY (role_id) REFERENCES role (role_id) ON UPDATE CASCADE ON DELETE CASCADE;
