APP_ENV=dev
APP_DEBUG=true
APP_SECRET=2405c9a4ba7d31c0d2ba0f32cad0f7e7

# Configure your MySQL database
DATABASE_URL="mysql://root:password@127.0.0.1:3306/hirely_interview_app?serverVersion=8.0&charset=utf8mb4"
